@import '_fonts.scss';
@import "_mixins.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
	overflow: hidden;
}

.App {
	@include size(370px, 450px);
	position: relative;
	user-select: none;
	overflow: hidden;

	.top_bar {
		@include size(100%, 38px, grid);
		@include bmd-bold(14px, center, #f3f3f3);
		align-items: center;
		text-transform: uppercase;
		letter-spacing: .2em;
		background-color: #303030;
	}

	.nav {
		@include size(auto, 50px);
		@include grid(repeat(5, 20%), auto);
		align-items: center;
		justify-items: center;
		list-style: none;
		background-color: #F2F2F2;
		border-bottom: 1px solid #EBEBEB;
	
		li {
			@include size(66px, 42px);
			@include grid(100%, auto);
			@include bmd-bold(13px, center, #333);
			align-items: center;
			justify-items: center;
			border-radius: 5px;
	
			&.active {
				color: #EE586E;
				box-shadow: inset 0px 0px 0px 1px rgba(238,88,110,1);
			}
	
			&.current_day {
				background-color: #EE586E;
				color: #fff;
			}

			&.past_day {
				@include bg('../img/scribble.png', no-repeat, center, 54px 31px);
				pointer-events: none;
				color: transparentize($color: #000000, $amount: .5);
			}
		}
	}
	

	.day {
		@include grid(100%, repeat(3, 115px));
		display: none;
		transition: .2s;

		&.active 	{ display: grid; }
		&.holiday 	{ 
			grid-template-columns: 100%;
			grid-template-rows: 339px;
		}

		// Dessert Layout
		&.dessert	{
			grid-template-rows: repeat(4, calc(345px / 4));

			div {
				padding: 10px 100px 10px 20px;

				h4 {
					margin: 0 0 5px 0;
				}

				&.meat_lovers, &.vegetarian, &.salad {
					background-position: 95% 5px;
				}
			}
		}

		div {
			padding: 20px 100px 20px 20px;
			border-bottom: 1px solid #ebebeb;

			&.meat_lovers {
				@include bg('../img/icon_meat_lovers.png', no-repeat, 95% 15px, 80px 80px);
			}

			&.vegetarian {
				@include bg('../img/icon_vegetarian.png', no-repeat, 95% 15px, 80px 80px);
			}

			&.salad {
				@include bg('../img/icon_salad.png', no-repeat, 95% 15px, 80px 80px);
			}

			&.holiday {
				@include size(100%, 340px, none);
				@include bg('../img/beach.png', no-repeat, 100px 110px, 256px 256px);
				position: relative;
				padding: 0;

				&.show { display: block; }

				h4 {
					@include size(100%, auto);
					@include position(50px, null, null, 0);
					@include bmd-bold(18px, center,#303030);
					border: none;
				}
			}

			&.dessert {
				@include bg('../img/icon_dessert.png', no-repeat, 95% 0, 80px 80px);
				display: none;

				&.show {
					display: block;
				}
			}

			h4 {
				@include size(auto, auto, inline-block);
				@include bmd-bold(13px, left,#EE586E);
				padding: 5px;
				margin: 0 0 10px 0;
				border-bottom: 1px solid #EE586E;
			}

			p {
				@include bmd-regular(12px, left, #656565);
				line-height: 1.5em;
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}
}

.lds-ripple {
	@include size(80px, 80px, inline-block);
	@include position(calc(50% - 40px), null, null, calc(50% - 40px));

	div {
		position: absolute;
		border: 4px solid #EE586E;
		opacity: 1;
		border-radius: 50%;
		animation: lds-ripple 1s infinite;

		&:nth-child(2) {
			animation-delay: -0.5s;
		}
	}
}

@keyframes lds-ripple {
	0% {
		@include size(0, 0);
		top: calc(50% - 5px);
		left: calc(50% - 5px);
		opacity: 1;
	}

	100% {
		@include size(80px, 80px);
		top: calc(0% - 5px);
		left: calc(0% - 5px); 
		opacity: 0;
	}
}

.none { display: none!important; }